body {
  box-sizing: border-box;
  background-color: mediumaquamarine;
}

/* Styling for Row1 */
.navbar-width {
  padding: unset;
}
#mheader {
  background-color: palevioletred;
  color: aliceblue;
  font-family: "Fondamento", cursive;
  padding: 1rem;
  text-align: center;
}
